# Carpeta de sesiones y tokens temporales
sessions/
webconnect-app/sessions/
webconnect-app/tokens/

# Dependencias
node_modules/
webconnect-app/node_modules/
webconnect-app/.env/
# Archivos de Python
__pycache__/

# Archivos innecesarios o temporales
*.log
*.sqlite3
.DS_Store

# Configuraciones de IDE
.vscode/
.idea/  
webconnect-app/.env
