# Archivos sensibles
.env

# Carpetas de sesiones y tokens temporales
sessions/
venom-service/tokens/

# Dependencias
!node_modules/
__pycache__/

# Archivos innecesarios o temporales
*.log
*.sqlite3
.DS_Store

# Configuraciones de IDE
.vscode/